---
const levelOne = ["Pre jardín", "Jardín", "Transición"];
const levelTwo = ["1° grado", "2° grado", "3° grado", "4° grado", "5° grado"];
---

<form class="mb-5">
  <div class="space-y-12 flex flex-col">
    <div class="w-[80vw] self-center border-b border-gray-900/10 pb-12">
      <h2 class="text-base/7 mt-5 font-semibold text-gray-900">
        Información personal del acudiente
      </h2>
      <p class="mt-1 text-sm/6 text-gray-600">
        Por favor, ingrese la siguiente información del acudiente del
        estudiante.
      </p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8">
        <div class="sm:col-span-3">
          <label
            for="first-name"
            class="block text-sm/6 font-medium text-gray-900"
            >Nombre completo</label
          >
          <div class="mt-2">
            <input
              type="text"
              name="first-name"
              id="first-name"
              autocomplete="given-name"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-700 sm:text-sm/6"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label
            for="last-name"
            class="block text-sm/6 font-medium text-gray-900"
            >Número de teléfono</label
          >
          <div class="mt-2">
            <input
              type="number"
              name="last-name"
              id="last-name"
              autocomplete="family-name"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-700 sm:text-sm/6"
            />
          </div>
        </div>

        <div class="sm:col-span-4">
          <label for="email" class="block text-sm/6 font-medium text-gray-900"
            >Correo electrónico</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              class="block w-full md:w-[77.5vw] rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-700 sm:text-sm/6"
            />
          </div>
        </div>

        <div>
          <h2 class="text-base/7 font-semibold text-gray-900">
            Información personal del estudiante
          </h2>
          <p class="mt-1 text-sm/6 text-gray-600">
            Por favor, ingrese la siguiente información del estudiante.
          </p>
        </div>

      </div>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8">
          <div class="sm:col-span-3">
            <label
              for="first-name"
              class="block text-sm/6 font-medium text-gray-900"
              >Nombre completo</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="first-name"
                id="first-name"
                autocomplete="given-name"
                class="block w-full md:w-[77.5vw] rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-700 sm:text-sm/6"
              />
            </div>
          </div>

          <div class="grid grid-cols-1 gap-x-6 gap-y-8">
            <div class="sm:col-span-3">
              <label
                for="first-name"
                class="block text-sm/6 font-medium text-gray-900">Edad</label
              >
              <div class="mt-2">
                <input
                  type="number"
                  name="first-name"
                  id="first-name"
                  autocomplete="given-name"
                  class="block w-full md:w-[77.5vw] rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-700 sm:text-sm/6"
                />
              </div>
            </div>

            <div class="sm:col-span-3">
              <label
                for="country"
                class="block text-sm/6 font-medium text-gray-900"
                >Grado a cursar</label
              >
              <div class="mt-2">
                <select
                  id="country"
                  name="country"
                  autocomplete="country-name"
                  class="block w-full md:w-[77.5vw] rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-green-700 sm:max-w-xs sm:text-sm/6"
                >
                  <option disabled selected>Seleccione...</option>
                  <option disabled>~Nivel 1 Preescolar~</option>
                  {levelOne.map((item) => <option>{item}</option>)}
                  <option disabled>~Nivel 2 Básica primaria~</option>
                  {levelTwo.map((item) => <option>{item}</option>)}
                </select>
              </div>
            </div>

            <div class="col-span-full">
              <label
                for="street-address"
                class="block text-sm/6 font-medium text-gray-900"
                >Dirección residencia</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="street-address"
                  id="street-address"
                  autocomplete="street-address"
                  class="block w-full md:w-[77.5vw] rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-700 sm:text-sm/6"
                />
              </div>
            </div>
      </div>
    </div>

  </div>
  <div class="my-6 flex justify-center">
    <button
      type="submit"
      class="w-[80vw] self-center rounded-md bg-green-700 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >Enviar</button
    >
  </div>

</form>
