---
import {
  Bird,
  BookHeart,
  Flag,
  Gamepad,
  Languages,
  Lightbulb,
  SmilePlus,
  Sparkles,
} from "lucide-astro";
---

<main class="flex flex-col">
  <section
    class="flex flex-col relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32"
  >
    <div
      class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
      aria-hidden="true"
    >
      <div
        class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-green-700 to-green-700"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div class="bg-gradient-to-tr mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-4xl lg:mx-0">
        <h2
          class="text-5xl text-center font-semibold tracking-tight text-white sm:text-7xl lg:text-left"
        >
          Emprendimiento, Inteligencia y Ciencia
        </h2>
        <p
          class="mt-8 text-center text-pretty text-lg font-medium text-gray-300 sm:text-xl/8 lg:text-left"
        >
          En CEIDI, brindamos una educación integral y de excelencia, para
          potenciar el crecimiento intelectual y emocional de cada estudiante.
        </p>
      </div>
      <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
        <div
          class="grid grid-cols-1 gap-x-8 gap-y-6 text-base/7 font-semibold text-white sm:grid-cols-2 md:flex lg:gap-x-10"
        >
          <!-- <a href="#">Open roles <span aria-hidden="true">&rarr;</span></a>
              <a href="#">Internship program <span aria-hidden="true">&rarr;</span></a>
              <a href="#">Our values <span aria-hidden="true">&rarr;</span></a>
              <a href="#">Meet our leadership <span aria-hidden="true">&rarr;</span></a> -->
        </div>
        <dl class="mt-16 flex gap-8 sm:mt-20 justify-center lg:justify-start">
          <div class="flex flex-col-reverse gap-1">
            <dt class="text-base/7 text-gray-300">Niños en Preescolar</dt>
            <dd class="text-4xl font-semibold tracking-tight text-white">7+</dd>
          </div>
          <div class="flex flex-col-reverse gap-1">
            <dt class="text-base/7 text-gray-300">Básica Primaria</dt>
            <dd class="text-4xl font-semibold tracking-tight text-white">7+</dd>
          </div>
        </dl>
      </div>
    </div>
    <button
      class="bg-green-700 shadow-lg shadow-green-700/50 text-white font-bold self-center py-3 w-[80vw] rounded-xl mt-12 lg:w-[30vw]"
      >Subscribe</button
    >
  </section>
  <div class="bg-gray-900">
    <svg
      id=""
      preserveAspectRatio="xMidYMax meet"
      class="svg-separator sep3"
      viewBox="0 0 1600 100"
      style="display: block;"
      data-height="100"
    >
      <path
        class=""
        style="opacity: 1;fill: #273a4c;"
        d="M-40,71.627C20.307,71.627,20.058,32,80,32s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,26H-60V72L-40,71.627z"
      ></path>
      <path
        class=""
        style="opacity: 1;fill: #2a3f54;"
        d="M-40,83.627C20.307,83.627,20.058,44,80,44s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,14H-60V84L-40,83.627z"
      ></path>
      <path
        class=""
        style="fill: white;"
        d="M-40,95.627C20.307,95.627,20.058,56,80,56s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,138H-60V96L-40,95.627z"
      ></path></svg
    >
  </div>
  <section
    id="who-are-we-section"
    class="flex flex-col bg-white w-[90vw] self-center pt-4 pb-20 mb-20 rounded-b-lg"
  >
    <h2
      class="text-3xl text-center font-semibold tracking-tight text-gray-900 mt-4 sm:text-5xl"
    >
      ¿Quiénes somos?
    </h2>
    <div class="flex flex-col">
      <p
        class="mt-8 text-center text-pretty text-lg font-medium text-gray-500 self-center sm:text-xl/8 prose lg:prose-xl"
      >
        El Centro Educativo Infantil para el Desarrollo de la Inteligencia
        (CEIDI), del municipio de Guamal, Magdalena, es una oferta educativa, de
        carácter privado y de jornada única, con el propósito de formar niños,
        niñas y adolescentes del municipio de Guamal del departamento del
        Magdalena, de Colombia y de otras nacionalidades.
      </p>
      <article class="flex flex-row justify-center gap-6 mt-6">
        <img
          class="inline-block h-32 w-32 rounded-full ring-4 ring-green-700"
          src="/images/kids-img-1.webp"
          alt=""
        />
        <img
          class="inline-block h-32 w-32 rounded-full ring-4 ring-green-700"
          src="/images/kids-img-2.webp"
          alt=""
        />
      </article>
    </div>
    <img
      class="inline-block h-32 w-32 rounded-full ring-4 ring-green-700 self-center"
      src="/images/kids-img-3.webp"
      alt=""
    />
  </section>
  <div>
    <svg
      id=""
      preserveAspectRatio="xMidYMax meet"
      class="svg-separator sep3"
      viewBox="0 0 1600 100"
      style="display: block;"
      data-height="100"
    >
      <path
        class=""
        style="opacity: 1;fill: #273a4c;"
        d="M-40,71.627C20.307,71.627,20.058,32,80,32s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,26H-60V72L-40,71.627z"
      ></path>
      <path
        class=""
        style="opacity: 1;fill: #2a3f54;"
        d="M-40,83.627C20.307,83.627,20.058,44,80,44s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,14H-60V84L-40,83.627z"
      ></path>
      <path
        class=""
        style="fill: rgb(17 24 39);;"
        d="M-40,95.627C20.307,95.627,20.058,56,80,56s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,138H-60V96L-40,95.627z"
      ></path></svg
    >
  </div>
  <section
    id="mission-section"
    class="flex justify-center bg-gray-900 w-[100vw] self-center p-4"
  >
    <div class="w-[90vw] shadow-xl rounded-b-lg p-4 self-center">
      <h2
        class="text-3xl text-center font-semibold tracking-tight text-white mt-4 sm:text-5xl"
      >
        Misión
      </h2>
      <div class="flex flex-col">
        <p
          class="mt-8 text-center text-pretty text-lg font-medium text-gray-300 self-center sm:text-xl/8 prose lg:prose-xl"
        >
          CEIDI busca formar niños, niñas y adolescentes de forma integral
          basada en el modelo pedagógico Socio-cognitivo con énfasis en el
          desarrollo de la creatividad, la lúdica y su relación con los objetos
          para la construcción del conocimiento desde la perspectiva de los
          valores como estrategia de conectividad para comunicarse, actuar y
          proyectarse con éxito en su entorno dentro de este mundo globalizado.
          Contribuyendo al desarrollo local, regional y nacional mediante la
          prestación de servicios educativos en los niveles de preescolar y
          básica primaria.
        </p>
        <article class="flex flex-row justify-center gap-3 mt-6 mb-6">
          <div
            class="h-28 w-28 bg-green-700 rounded-full flex justify-center shadow-md shadow-green-700"
          >
            <BookHeart class="self-center stroke-white h-12 w-12" />
          </div>
          <div
            class="h-28 w-28 bg-green-700 rounded-full flex justify-center shadow-md shadow-green-700"
          >
            <Flag class="self-center stroke-white h-12 w-12" />
          </div>
        </article>
      </div>
    </div>
  </section>
  <section
    id="vission-section"
    class="flex justify-center bg-gray-900 w-[100vw] self-center p-4"
  >
    <div class="w-[90vw] shadow-xl rounded-b-lg p-4 mb-8 self-center">
      <h2
        class="text-3xl text-center font-semibold tracking-tight text-white mt-4 sm:text-5xl"
      >
        Visión
      </h2>
      <div class="flex flex-col">
        <p
          class="mt-8 text-center text-pretty text-lg font-medium text-gray-300 self-center sm:text-xl/8 prose lg:prose-xl"
        >
          CEIDI, mediante la prestación de servicios educativos de óptima
          calidad y eficiencia con alto sentido humano, responsabilidad,
          solidaridad, equidad, integridad participación comunitaria y alcance
          tecnológico; visiona primero ser aprobada por el Ministerio de
          Educación, y así poder prestar sus servicios, proyectando para el año
          2028 ser reconocida por su excelencia académica contando con talento
          humano experto en la gestión educativa y docentes competentes en áreas
          pedagógicas, tecnológicas y productivas que orienten a sus estudiantes
          mediante procesos de formación integral impactando significativamente
          a nuestro municipio.
        </p>
        <article class="flex flex-row justify-center gap-3 mt-6 mb-8">
          <div
            class="h-28 w-28 bg-green-700 rounded-full flex justify-center shadow-md shadow-green-700"
          >
            <SmilePlus class="self-center stroke-white h-12 w-12" />
          </div>
          <div
            class="h-28 w-28 bg-green-700 rounded-full flex justify-center shadow-md shadow-green-700"
          >
            <Sparkles class="self-center stroke-white h-12 w-12" />
          </div>
        </article>
      </div>
    </div>
  </section>
  <!--Divisor -->
  <div class="bg-gray-900">
    <svg
      id=""
      preserveAspectRatio="xMidYMax meet"
      class="svg-separator sep3"
      viewBox="0 0 1600 100"
      style="display: block;"
      data-height="100"
    >
      <path
        class=""
        style="opacity: 1;fill: #273a4c;"
        d="M-40,71.627C20.307,71.627,20.058,32,80,32s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,26H-60V72L-40,71.627z"
      ></path>
      <path
        class=""
        style="opacity: 1;fill: #2a3f54;"
        d="M-40,83.627C20.307,83.627,20.058,44,80,44s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,14H-60V84L-40,83.627z"
      ></path>
      <path
        class="fill-white"
        style=""
        d="M-40,95.627C20.307,95.627,20.058,56,80,56s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,138H-60V96L-40,95.627z"
      ></path></svg
    >
  </div>
  <section
    id="student-welfare"
    class="flex flex-col justify-center bg-white pb-12"
  >
      <h2
        class="text-3xl text-center font-semibold tracking-tight text-gray-900 mt-12 sm:text-5xl"
      >
        Bienestar y Vida Estudiantíl
      </h2>
      <p
        class="mt-4 text-center text-pretty text-lg font-medium text-gray-500 self-center sm:text-xl/8 prose lg:prose-xl"
      >
        CEIDI busca constantemente los mejores programas y estrategias para
        potenciar el bienestar de sus estudiantes.
      </p>
      <div class="flex flex-col gap-2 mt-5 self-center lg:flex-row">
        <article
          class="flex flex-col justify-center bg-white shadow-xl rounded-md w-[80vw] px-2 py-5 self-center lg:justify-start lg:w-[30vw] lg:h-[415px]"
        >
          <div
            class="h-20 w-20 bg-gray-900 rounded-full flex justify-center self-center shadow-md shadow-gray-900"
          >
            <Gamepad class="self-center stroke-white h-12 w-12" />
          </div>
          <h3
            class="text-xl text-center mt-4 self-center font-semibold tracking-tight text-gray-900 sm:text-3xl lg:text-center"
          >
            Aprender jugando
          </h3>
          <p
            class="mt-4 mb-5 text-center text-pretty text-lg font-medium text-gray-400 self-center sm:text-xl/8 prose lg:prose-xl"
          >
            En nuestra institución, el juego no es solo una actividad; es el
            motor que impulsa el desarrollo infantil.
          </p>
        </article>
        <article
          class="flex flex-col bg-white shadow-xl rounded-md w-[80vw] px-2 py-5 self-center lg:w-[30vw] lg:h-[415px]"
        >
          <div
            class="h-20 w-20 bg-gray-900 rounded-full flex justify-center self-center shadow-md shadow-gray-900"
          >
            <Bird class="self-center stroke-white h-12 w-12" />
          </div>
          <h3
            class="text-xl mt-4 text-center self-center font-semibold tracking-tight text-gray-900 sm:text-3xl lg:text-center"
          >
            La naturaleza como tercer maestro
          </h3>
          <p
            class="mt-4 text-center text-pretty text-lg font-medium text-gray-400 self-center sm:text-xl/8 prose lg:prose-xl"
          >
            Motiva a niños y niñas a descubrir el mundo a través de sus
            sentidos, potencia el pensamiento creativo y los invita a conocerse
            mejor a sí mismos para aprovechar todo su potencial a través de la
            exploración y el juego
          </p>
        </article>
        <article
          class="flex flex-col bg-white shadow-xl rounded-md w-[80vw] px-4 py-5 self-center lg:w-[30vw] lg:h-[415px]"
        >
          <div
            class="h-20 w-20 bg-gray-900 rounded-full flex justify-center self-center shadow-md shadow-gray-900"
          >
            <Languages class="self-center stroke-white h-12 w-12" />
          </div>
          <h3
            class="text-xl mt-4 text-center self-center font-semibold tracking-tight text-gray-900 sm:text-3xl lg:text-center"
          >
            El Inglés como segundo idioma
          </h3>
          <p
            class="mt-4 text-center text-pretty text-lg font-medium text-gray-400 self-center sm:text-xl/8 prose lg:prose-xl lg:text-center"
          >
            Contamos con métodos para la enseñanza del idioma extranjero,
            motivando al estudiante a explorar más allá de las fronteras
            lingüísticas.
          </p>
        </article>
      </div>
  </section>
  <!--Divisor -->
  <div class="bg-white">
    <svg
      id=""
      preserveAspectRatio="xMidYMax meet"
      class="svg-separator sep3"
      viewBox="0 0 1600 100"
      style="display: block;"
      data-height="100"
    >
      <path
        class=""
        style="opacity: 1;fill: #273a4c;"
        d="M-40,71.627C20.307,71.627,20.058,32,80,32s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,26H-60V72L-40,71.627z"
      ></path>
      <path
        class=""
        style="opacity: 1;fill: #2a3f54;"
        d="M-40,83.627C20.307,83.627,20.058,44,80,44s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,14H-60V84L-40,83.627z"
      ></path>
      <path
        class="fill-gray-900"
        style=""
        d="M-40,95.627C20.307,95.627,20.058,56,80,56s60.003,40,120,40s59.948-40,120-40s60.313,40,120,40s60.258-40,120-40s60.202,40,120,40s60.147-40,120-40s60.513,40,120,40s60.036-40,120-40c59.964,0,60.402,40,120,40s59.925-40,120-40s60.291,40,120,40s60.235-40,120-40s60.18,40,120,40s59.82,0,59.82,0l0.18,138H-60V96L-40,95.627z"
      ></path></svg
    >
  </div>
</main>
